{{log "MyPickerItem" this}}
<!--
<form class="{{cssClass}} flexcol" autocomplete="off">
  <section class="sheet-body">
    <div class="attributes grid grid-3col">
      {{#each this.actor.system.attributes as |attribute key|}}
        <div class="attribute flexrow flex-group-center" id="{{key}}">
          <label for="system.attributes.{{key}}" class="resource-label" data-attrname="{{attribute.system.name}}">
            {{attribute.system.name}}
          </label>
          <input type="radio" id="{{attribute.system.name}}" class="input" name="attr" value="{{attribute.system.name}}">
        </div>
      {{/each}}
    </div>
  </section>
</form>
-->

<form class="{{cssClass}} flexcol" autocomplete="off">
  <section class="sheet-body">
    <div class="attributes grid grid-3row">
      {{#each this.actor.system.attributes as |attribute key|}}
        <div class="flexcol flex-group-center boxed" data-attrname="{{attribute.system.name}}" id="{{key}}">
          <input type="radio" id="{{attribute.system.name}}" class="input" name="attr" value="{{attribute.system.name}}">
          <label for="{{attribute.system.name}}" class="resource-label" data-attrname="{{attribute.system.name}}">
            {{attribute.system.name}}
          </label>
          <span class="icons"> {{{toDots attribute.value}}} </span>
          <span class="small-note"> {{attribute.system.approach}} - {{attribute.arena}} </span>
        </div>
      {{/each}}
    </div>
</section>
</form>
