<!-- Attribute Partial - Read-Only -->
<h2 style="text-align: center;">Attributes</h2>
<div class="attributes grid grid-3row">
  {{#each actor.attributes as |attribute key|}}
  <div class="flexcol flex-group-center boxed item can-hide" data-item-id="{{attribute.system.id}}">
    <div class="resource-label clickable item-edit"> {{attribute.system.name}} </div>
    <div class="icons rollable" data-attrid="{{attribute.system.id}}" id="{{attribute.system.id}}"> {{{toDots attribute.system.value attribute.system.megaValue}}} </div>
    <div class="small-note"> {{attribute.system.approach}} - {{attribute.system.arena}} </div>
  </div>
  <div class="flexcol flex-group-center boxed edit-area item can-hide hidden" data-itemid="{{attribute.system.id}}">
    <span class="resource-label clickable item-edit"> {{attribute.system.name}} </span>
    <div class="flex-parent-nowrap-center">
      <i class="clickable sub-value large flex-valign fas fa-minus-circle" data-itemid="{{attribute.system.id}}" data-target="system.value"></i>
      <input class="flex-valign short-input resource item-value-edit" type="number" min="0" step="1" onfocus="this.previousValue = this.value" onkeydown="this.previousValue = this.value" oninput="validity.valid || (value = this.previousValue)" id="{{attribute.system.id}}-value" value="{{attribute.system.value}}" data-dtype="Number" data-itemid="{{attribute.system.id}}" data-target="system.value"/>
      <i class="clickable add-value large flex-valign fas fa-plus-circle" data-itemid="{{attribute.system.id}}" data-target="system.value"></i>
    </div>
    {{#if ../actor.system.flags.isNova}}
    <span class="resource-label"> Mega Dots </span>
    <div class="flex-parent-nowrap-center">
      <i class="clickable sub-value large flex-valign fas fa-minus-circle" data-itemid="{{attribute.system.id}}" data-target="system.megaValue"></i>
      <input class="flex-valign short-input resource item-value-edit" type="number" min="0" step="1" onfocus="this.previousValue = this.value" onkeydown="this.previousValue = this.value" oninput="validity.valid || (value = this.previousValue)" id="{{attribute.system.id}}-megaValue" value="{{attribute.system.megaValue}}" data-dtype="Number" data-itemid="{{attribute.system.id}}" data-target="system.megaValue"/>
      <i class="clickable add-value large flex-valign fas fa-plus-circle" data-itemid="{{attribute.system.id}}" data-target="system.megaValue"></i>
    </div>
    {{/if}}
    <span class="small-note"> {{attribute.system.approach}} - {{attribute.system.arena}} </span>
  </div>
  {{/each}}
</div>